#divHesapMakinesi {
    width: 400px;
    height: 600px;
    margin: 0 auto;
    background-color: #f0f0f0;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
}

#divSayiGirisi {

    width: 100%;
    border: 1px solid #000;
}

.satir {}

#divDugmeler {
    margin: 20px auto;
    border: 1px solid #000;
}

#girilenSayi {
    width: 100%;
    height: 50px;
    font-size: 24px;
    margin-bottom: 10px;
}

.dugme {
    width: 50px;
    height: 50px;
    font-size: 24px;
    margin: 5px;
    cursor: pointer;
}