body{
    background-color: antiquewhite;
    font-size: 20px;
}

#yazi1{
    font-family: "Tangerine", Verdana, Geneva, Tahoma, sans-serif;
}
#yazi2{
    font-family: "Audiowide", Verdana, Geneva, Tahoma, sans-serif;
}
#yazi3{
    font-family: "Ballet", Verdana, Geneva, Tahoma, sans-serif;
}